.navbar {
  margin: 0%;
  left: 0;
  width: 100%;
  background-color: rgb(74, 64, 64);
  color: white;
  justify-content: center;
  display: flex;
  
}
.navbar a{
  width: 180%;
  display: flex;
  justify-content: space-around;
   }
 
  #id{
    width: 200%;
    background-color: rgb(74, 64, 64);
    color: #fff;
  }

